/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
    html {
        /* 9px / 16px  */
        font-size: 56.25%;
    }
    .hero-left-box img {
        width: 90%;
        height: 90%;
    }
}

/**************************/
/* BELOW 1152px (Landscape Tablets) */
/**************************/

@media (max-width: 65em) {
    html {
        /* 8px / 16px  */
        font-size: 50%;
    }
    .header-icon-menu {
        visibility: visible;
        right: 10rem;
    }
    .header-links {
        visibility: hidden;
    }
    .hero-left-box {
    }
    .hero-left-box img {
        /* width: 70%; */
        /* height: 70%; */
    }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 55em) {
    html {
        /* 7px / 16px  */
        font-size: 43.75%;
    }
    /* .hero-right-in {
        line-height: 6.5rem;
    } */
}
/**************************/
/* BELOW 743px (Smaller tablets) */
/**************************/
@media (max-width: 46.43em) {
    .main-hero {
        flex-direction: column;
    }
    .hero-right-box {
        display: flex;
        flex-direction: column;
    }
    .hero-right-in {
        text-align: center;
    }
    .hero-right-text {
        text-align: center;
    }
    .hero-right-link {
        text-align: center;
    }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/
